:root {
		--myf_green: #ced619;
		--myf_grey: #36464c;
		--myf_orange: #ee781d;
	}
	
	@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
	
  #external-content {
  	 color:#36464c;
  	 font-size:14px;
  } 
   #external-content .row-m5 {
  	margin-left:-5px;
  	margin-right:-5px;
  }
   #external-content .col-m5 {
  	padding-left:5px;
  	padding-right:5px;
  }
  #external-content h3 {
  	text-transform:uppercase;
  	margin-bottom:1.5em;
  	font-size:1.75em;
  }
   ul.myf_sportwidget_nav {
	padding:0;
	margin:0 -15px;
	list-style-type:none;
	margin-bottom:2em;
   }	
   
   ul.myf_sportwidget_nav li {
   	padding:0 15px;
   	margin:0;
   	list-style-type:none;
   	display:block;
  	margin:10px 0em;
  	height:45px;
  	line-height:45px;
  }
   
   ul#myf_store_switch.myf_switch_menu li.noborder,
   ul#myf_store_switch.myf_switch_menu li:hover.noborder,
   ul.myf_sportwidget_nav li.noborder {
   		border:0 none;
   		background-color:transparent;
   }
   
   ul#myf_store_switch.myf_switch_menu #myf-user {
		float:left;	
		margin-left:1em;
		font-size:1.3em;
   }
   
   ul.myf_sportwidget_nav > li:first-child a {
   		padding-left:;	
   }
   ul.myf_sportwidget_nav li a {
		font-size:15px;
		text-transform:uppercase;
		font-weight:500;
	}
   
   ul.myf_sportwidget_nav li a:link,
   ul.myf_sportwidget_nav li a:active,
   ul.myf_sportwidget_nav li a:visited {
   	text-decoration:none;
   	color:#36464c;
   }
   
   @media (min-width: 617px) {
   	ul.myf_sportwidget_nav {
   		background-color: transparent;
   		margin: 0 0 2em;
   	}
   	ul.myf_sportwidget_nav li {
   	float:left;
   	margin:0px 5px 0px 0px;
   	padding:0;
   }
   
    ul.myf_sportwidget_nav li a {
		padding:5px 1em;
   }
   
   
   	
   }
	#external-content .marketplace-item {
		background-color: #fff;
		box-shadow: #e6e5e5 3px 5px 5px;
		padding: 8px;
		margin-bottom: 12px;
		background-color: #fff;
		font-size: 0.84em;
		display: block;
		box-shadow: #e6e5e5 3px 5px 5px;
		border-radius: 10px;
		border: 1px solid #efefef;
		overflow: hidden;
		position: relative;
		max-height: 100%;
	}
	
	#external-content .square {
		width: 100%;
		padding-bottom: 100%;
		position: relative;
	}
	
	#external-content .square .market-body {
		position: absolute;
		width: 100%;
		height: 100%;
		display: table;
		vertical-align: middle;
		clear: both;
	}
	
	#external-content .square .market-body a {
		display: table-cell;
		vertical-align: middle;
	}
	
	#external-content .square .market-body img {
		vertical-align: middle;
	}	

	#external-content .marketplace-item img {
		max-height: 100%;
		max-width: 100%;
		height: auto;
		margin-bottom:0;
	}
	#external-content .market-body img {
		width: 100%;
		height: auto;
	}
	
	#external-content .market-organisation .marketplace-item-fans {
		text-align: center;
		margin-top: 0.5em;
	}
	
	#external-content .marketplace-item-fans {
		font-size: 0.9em;
		line-height: 27px;
	}
	
	#external-content .market-head {
		height: 27px;
		font-size: 0.9em;
		margin-bottom: 6px;
	}

	#external-content .market-head img {
		max-width: 56%;
		height: auto;
	}
	
	#external-content .market-head .marketplace-item-fans {
		float: right;
	}
	#myf_modal {
		font-size:14px;
		font-family: "Roboto", Ubuntu, Arial, Verdana, sans-serif;
		line-height: 21px;
	}
	
	#myf_modal p {
		margin-top:0;
	}
	#myf_modal,
	#myf_modal p,
	#myf_modal strong,
	#myf_modal td,
	#myf_modal th,
	#myf_modal a {
		font-family: "Roboto", Ubuntu, Arial, Verdana, sans-serif;
		font-size: inherit;
		line-height: inherit;
	}
	
	#myf_modal,
	#myf_modal p,
	#myf_modal td,
	#myf_modal th {
		font-weight:400;
	}
	
	#myf_modal strong,
	#myf_modal a,
	#myf_modal h2 {
		font-weight:700;
	}
	#myf_modal h2 a {
		font-size:inherit;
		font-weight:inherit;
	}
	
	#myf_modal h2 {
		margin-bottom:22.5px;
	}
	
	#myf_modal [class^="col-"] {
		margin-top:0;
		margin-bottom:0;
	}
	#myf_modal.active, #map_modal.active {
		display: block;
	}
	
	#myf_modal, #map_modal {
		background-color: rgba(0,0,0,0.7);
		height: 100vh;
		width: 100vw;
		position: fixed;
		left: 0px;
		top: 0px;
		line-height: 100vh;
		text-align: center;
		z-index: 1000000;
		transform: translateZ(1px);
		display: none;
	}
	
	#myf_modal #myf_item_modal, #map_modal #myf_item_map_modal {
		width: 80vw;
		max-width: 600px;
		margin: 2em auto;
		text-align: left;
		line-height: 21px;
		transform: translateY(200vh);
		transition: transform 0.4s ease-in-out;
		color: #36464c;
	}
	
	.muuri-content--full-size {
		background-color: #f7f6f6;
		border-radius: 10px;
		padding: 1em 1em 2em 1em;
		position: relative;
		font-family: "Roboto", Ubuntu, Arial, Verdana, sans-serif;
		color: #36464c;
		max-height: 90vh;
		overflow-x: hidden;
	}
	
	.muuri-content--full-size .sm_header_img {
		width: calc(100% + 2em);
		margin: -1em -1em 1em -1em;
		background-size: cover;
		border-radius: 10px 10px 0 0;
	}
	
	#myf_modal .muuri-content--full-size .mu_item {
		max-height: calc(90vh - 4em);
	}
	
	.muuri-content--full-size #mu_item__close {
		position: absolute;
		top: 1em;
		left: 1em;
		z-index: 100;
	}
	
	.muuri-content--full-size #mu_item__close img {
		width: 27px;
		height: 27px;
		background-color: #fff;
		border-radius: 50%;
	}
	
	.muuri-content--full-size .mu_item .mu_item__img {
		border: 1px solid #efefef;
		width: 100px;
		height: auto;
		box-shadow: rgba(0,0,0,0.1) 1px 1px 12px;
		max-width: 25%;
		position: relative;
		margin-top: -63px;
	}
	
	.muuri-content--full-size.mu_type__promotion_new .mu_item .mu_item__img, 
	.muuri-content--full-size.mu_type__loyalty .mu_item .mu_item__img {
		margin-top: -15px;
		margin-left: -15px;
		margin-right: -15px;
		width: calc(100% + 30px);
		max-width: unset;
	}
	
	.muuri-content--full-size h2 {
		margin-bottom: 0.75em;
	}
	.muuri-content--full-size h2 a:link, .muuri-content--full-size h2 a:active, .muuri-content--full-size h2 a:visited {
		color: #36464c;
		display: -webkit-box;
		text-overflow: ellipsis;
		-webkit-line-clamp: 2;
		line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	
	.mu-__text {
		margin-bottom: 1em;
	}
	
	.mu-__text p {
		display: -webkit-box;
		text-overflow: ellipsis;
		-webkit-line-clamp: 3;
		line-clamp: 3;
		overflow: hidden;
		-webkit-box-orient: vertical;
		line-height:21px;
	}
	
	#myf_modal, #myf_modal p {
		font-size:14px;
		margin-bottom:10px;
	}
	#myf_modal a:link,
	#myf_modal a:active,
	#myf_modal a:visited {
		text-decoration:none;
	}
	.mu_item_contact .glyphicon {
		margin-right: 0.25em;
	}
	#myf_modal a.myf_button_add:link, 
	#myf_modal a.myf_button_add:active, 
	#myf_modal a.myf_button_add:visited {
		color: #fff;
		display: block;
		float: left;
		margin-bottom: 1.5em;
		text-decoration:none;
		line-height:21px;
	}
	#myf_modal .muuri-content--full-size {
		overflow-y: auto;
	}
	#myf_modal #myf_item_modal.active, #map_modal #myf_item_map_modal.active {
		transform: translateY(0);
	}
	
	#myf_item_modal h2 {
		font-weight:500;
		font-size:30px;
		line-height:33px;
		margin-bottom:;
		margin-top:20px;
		font-family:"Roboto", Ubuntu, Arial, Verdana, sans-serif;
	}
	
	#myf_item_modal h2 a:link,
	#myf_item_modal h2 a:active,
	#myf_item_modal h2 a:visited {
		text-decoration:none;
	}
	#action-code-marketplace {
		position:relative;
	}
	#actioncode {
		font-size: 14px;
		height: 46px;
		text-transform: uppercase;
		width: 100%;
		line-height: 2em;
		padding: 4px 18px;
		border: 1px solid #efefef;
		box-shadow: none;
		font-family: 'Roboto', Ubuntu, Arial, Verdana, sans-serif;
		border-radius: 6px;
	}
	
	#actioncode-bar .action-code-submit.grey {
		background-color: #36464c;
		right: 0;
		height: 44px;
		padding: 9px 17px 10px;
		font-size: 0.9em;
		top: 3px;
		z-index: 10;
		color: #fff;
		border-radius: 0px 6px 6px 0px;
		position: absolute;
		border: 0 none;
	}
   .muuri-content--full-size .sm_header_img::after {
		content: "";
		display: block;
		padding-bottom: 29%;
	}
	
	a.myf_button_add {
		background-color: #ced619;
		padding: 0.4em 2em;
		color: #fff;
		border-radius: 4px;
		font-size: 18.2px;
	}
	#modal a.myf_button_add:link, 
	#modal a.myf_button_add:active, 
	#modal a.myf_button_add:visited {
		color: #fff;
		display: block;
		float: left;
		margin-bottom: 1.5em;
		text-decoration:none;
	}	
	
	#modal a.myf_button_add:hover {
		background-color:#36464c;
	}
	
	#modal .community-content--full-size, #map_modal .community-content--full-size {
		overflow-y: auto;
	}
	
	.community-content--full-size {
		background-color: #f7f6f6;
		border-radius: 10px;
		padding: 1em 1em 2em 1em;
		position: relative;
		font-family: "Roboto", Ubuntu, Arial, Verdana, sans-serif;
		color: #36464c;
		max-height: 90vh;
	}
	.community-content--full-size #mu_item__close,
	.community-content--full-size #cm_item__close {
		border-radius: 100%;
		background-color: #fff;
		left: auto;
		right: 18px;
	}
	
	.community-content--full-size #mu_item__close,
	.community-content--full-size #mu_item__close,
	.community-content--full-size #cm_map__close, 
	.community-content--full-size #cm_item__close {
		position: absolute;
		top: 1em;
		left: 1em;
		z-index: 100;
	}
	#myf_modal .form-group::after {
		content: '';
		clear:both;
		width:100%;
		display:block;
	}
	#ajax-content .user.registration,
	#ajax-content .user.actioncode {
		border-radius: 7px;
		overflow: hidden;
		margin: -9px -10px -24px -10px;
	}
	
	#myf-login-panel {
		background-image: url('https://www.myfavorito.com/en/app/media/resource/_ju9szjfw.deliver?layout=og.png');
		background-size: cover;
		background-position: center;
	}
	
	#myf-login-wrap {
		background-color: rgba(23,23,23,0.79);
		padding: 1.5em 0 2em;
	}
	
	#ajax-content #myf-login-panel .container {
		padding-left: 30px;
		padding-right: 30px;
		width:100%;
	}
	
	#myf_modal .community-content--full-size .row, 
	#map_modal .community-content--full-size .row {
		max-width: calc(100% + 29px);
	}
	
	#myf-login-wrap h1 {
		color: #fff;
		font-size: 36px;
		font-weight: 500;
	}
	
	#ajax-content #myf-login-wrap a:link, 
	#ajax-content #myf-login-wrap a:active, 
	#ajax-content #myf-login-wrap a:visited {
		text-decoration: none;
		color: #ced619;
	}
	
	#myf-login-form {
		color: #fff;
	}
	
	#myf-login-form .myf-login-fields input {
		width: 100%;
		line-height: 2em;
		padding: 4px 18px;
		border: 0 none;
		box-shadow: none;
		font-family: 'Roboto', Ubuntu, Arial, Verdana, sans-serif;
		font-size:13px;
	}
	#ajax-content .alert {
		padding: 15px;
		margin-bottom: 20px;
		border: 1px solid transparent;
		border-radius: 4px;
	}
	#ajax-content .alert-success {
		background-color: #dff0d8;
		border-color: #d6e9c6;
		color: #3c763d;
	}
	
	#myf-login-form .myf-login-fields input, #myf-login-form .myf-login-fields select {
		margin-bottom: 15px;
		outline: 0 none;
	}
	
	#myf-login-form .myf-login-fields input, #main-body.marketplace .myf-login-fields input {
		border-radius: 0;
	}
	.checkbox.new.two-line {
		padding-top:0;
	}
	#myf-login-form .cleaner.clear {
		width:100%;
		margin-top:-1px;
		height:1px;
		clear:both;
	}
	#myf-login-form .checkbox {
		color: #fff;
		font-family: 'Roboto', Ubuntu, Arial, Verdana, sans-serif;
		font-size: 1.3em;
		padding-left: 1.75em;
		margin: 0.5em 0 1.5em;
		position:relative;
	}
	#myf-login-form .checkbox label {
		display:inline;
	}
	#myf-login-form .checkbox label a:link,
	#myf-login-form .checkbox label a:active,
	#myf-login-form .checkbox label a:visited {
		color:#ced619;
	}
	#myf-login-form .checkbox label a:hover {
		color:#ee781a;
	}
	#myf-login-form .myf-login-label {
		margin:0.7em 0 1.5em;
	}
	#myf-login-form .checkbox input[type="checkbox"] {
		width:auto;
		margin-left:1em;
	}
	.checkbox.new input[type="checkbox"] {
		margin-left:0;
	}
	#myf-login-form .checkbox input[type="checkbox"] {
		
	}
	#myf-login-form .checkbox label {
		padding:0;
		margin-left:0em;
	}
	.checkbox.new label {
		margin-left:2em;
	}
	.checkbox.new input[type="checkbox"] {
		
	}
	/* The checkbox.new */
	.checkbox.new {
	    display: block;
	    position: relative;
	    padding-left: 35px;
	    margin-bottom: 12px;
	    cursor: pointer;
	    font-size: 1.25em;
	    font-weight:normal;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	}
	
	/* Hide the browser's default checkbox */
	.checkbox.new input {
	    position: absolute;
	    opacity: 0;
	    cursor: pointer;
	    height: 0;
	    width: 0;
	}
	
	/* Create a custom checkbox */
	.checkmark {
	    position: absolute;
	    top: 2px;
	    left: 0;
	    height: 19px;
	    width: 19px;
	    background-color: #eee;
	}
	
	.has-error .checkmark {
		background-color:#f2dede;
	}
	
	/* On mouse-over, add a grey background color */
	.checkbox.new:hover input ~ .checkmark {
	    background-color: #ccc;
	}
	
	/* When the checkbox is checked, add a blue background */
	.checkbox.new input:checked ~ .checkmark {
	    background-color:#ced619;
	}
	
	/* Create the checkmark/indicator (hidden when not checked) */
	.checkmark:after {
	    content: "";
	    position: absolute;
	    display: none;
	}
	
	/* Show the checkmark when checked */
	.checkbox.new input:checked ~ .checkmark:after {
	    display: block;
	}
	
	/* Style the checkmark/indicator */
	.checkbox.new .checkmark:after {
	    left: 7px;
	    top: 4px;
	    width: 5px;
	    height: 10px;
	    border: solid white;
	    border-width: 0 3px 3px 0;
	    -webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	}
	
	a.pwd_lookup {
		font-size:18px;
	}
	
	#myf-login-form .myf-login-fields .captcha input {
		width: 35px;
		line-height: 24px;
		padding: 0px 7px;
		color: #000;
		text-align: center;
	}
	.alert {
		padding: 15px;
		margin-bottom: 20px;
		border: 1px solid transparent;
		border-radius: 4px;
	}
	.alert-danger {
		background-color: #f2dede;
		border-color: #ebccd1;
		color: #a94442;
	}
	.community-content--full-size #mu_item__close,
	.community-content--full-size #cm_map__close, .
	.community-content--full-size #cm_item__close {
		position: absolute;
		top: 1em;
		z-index: 100;
	}
	
	#myf_item_modal .community-content--full-size #mu_item__close,
	#myf_item_modal .community-content--full-size #cm_item__close {
		border-radius: 100%;
		background-color: #fff;
		left: auto;
		right: 18px;
		z-index:100;
	}
	
	.community-content--full-size #mu_item__close img,
	.community-content--full-size #cm_map__close img, 
	.community-content--full-size #cm_item__close img {
		width: 27px;
		height: 27px;
		background-color: #fff;
		border-radius: 50%;
	}
	#myf-login-form .myf-login-label {
		margin: 0.7em 0 1.5em;
	}
	
	#main-body.marketplace .form-group, #myf-login-wrap .form-group {
		color: #fff;
		font-family: 'Roboto', Ubuntu, Arial, Verdana, sans-serif;
	}
	
	#myf-login-wrap .form-group .btn {
		border: 1px solid #fff;
		width: 100%;
		color: #fff;
		background: transparent;
		border-radius: 0;
		font-family: 'Roboto', Ubuntu, Arial, Verdana, sans-serif;
		font-size: 1.4em;
		padding: 0.4em;
		margin-bottom: 15px;
		line-height: 1.42857143;
	}
	
	.myf_powered {
		width: 200px;
		height: 20px;
		float: right;
		margin: 0.5em;
	}
	.action-code-community {
		margin-top:10px;
	}
	#action_code_my_community {
		background-color:#fff;
		padding:3px;
		color:#000;
		border-radius:5px;
	}
	#myf_modal .success_img {
		float: left;
		margin-right: 2em;
		border-radius: 50%;
	}
	#myf_modal .success_text::after {
		clear: both;
		display: block;
		width: 100%;
		content: '';
		height: 1em;
	}
	
	.webclient_table table {
		border:0 none;
		font-size:14px;
	}
	.webclient_table thead th {
		text-transform: uppercase;
		padding: 5px 0;
		border-bottom: 1px solid #efefef;
	}
	.webclient_table thead tr {
		margin-bottom:10px;
	}
	th.myf-border,
	td.myf-border {
		width:10px;
	}
	
	.border-,
	.border-grey {
		background-color:#36464c;
	}
	
	.border-green {
		background-color:#ced619;
	}

	.border-orange {
		background-color:#ee781d;
	}
	
	.webclient_table img {
		width:60px;
		height:auto;
	}
	.webclient_table tbody tr {
		border-bottom:1px solid #efefef;
	}
	
	ul.myf_switch_menu {
		padding: 0;
		margin: 0;
		list-style-type: none;
		margin-bottom: 2em;
		overflow:visible;
	}
	
	ul#myf_store_switch.myf_switch_menu li {
		padding: 0 3px;
		margin: 0;
		list-style-type: none;
		display: block;
		height: 58px;
		line-height: 58px;
		margin-right: 0;
		border-bottom: 1px solid #cbcbcb;
	}
	

	ul#myf_store_switch.myf_switch_menu li.nav-dropdown {
		border-bottom-color:transparent;
	}
	ul#myf_store_switch.myf_switch_menu li.active,
	ul#myf_store_switch.myf_switch_menu li:hover {
		border-bottom: 4px solid #36464c;	
	}
	
	ul#myf_store_switch.myf_switch_menu li.active {
		font-weight: 500;
	}
	
	ul#myf_store_switch.myf_switch_menu li:hover {
		background-color:#36464c;
	}
	
	ul#myf_store_switch.myf_switch_menu li#myf-nav-actioncode:hover {
		background-color:transparent;
		border-bottom-color:transparent;
	}
	
	ul#myf_store_switch.myf_switch_menu li:hover a:link,
	ul#myf_store_switch.myf_switch_menu li:hover a:active,
	ul#myf_store_switch.myf_switch_menu li:hover a:visited {
		color:#f7f6f6;
	}
	
	ul.myf_switch_menu li a {
		padding: 11px 1.1em;
		font-size: 14px;
		text-transform: uppercase;
	}
	ul.myf_switch_menu li a:link, 
	ul.myf_switch_menu li a:active, 
	ul.myf_switch_menu li a:visited {
		text-decoration: none;
		color: #36464c;
	}
	
	ul.myf_switch_menu #actioncode {
		padding-right: 49px;
		width: 18em;
		border: 1px solid #cccccc;
		line-height:44px;
	}
	ul.myf_switch_menu .nav-dropdown {
		
	}
	ul#myf_store_switch.myf_switch_menu li#myf-nav-actioncode {
		padding:0;
	}

	ul.myf_switch_menu li.nav_menu:last-of-type {
		clear:right;
	}
	ul#myf_store_switch #myf-transaction-dropdown,
	ul#myf_store_switch #myf-nav-actioncode {
		width: 100%;
		max-width: 100%;
	}
	ul#myf_store_switch #myf-nav-actioncode {
		margin-top:1em;
	}
	
	ul.myf_switch_menu #action-code-marketplace #actioncode {
		width: 100%;
		height:44px;
	}
	ul.myf_switch_menu  #actioncode-bar {
		height:44px;
		line-height:44px;
		margin-top:7px;
		margin-bottom:7px;
	}
	ul.myf_switch_menu  #actioncode-bar #action-code-marketplace .action-code-submit {
		right:0;
		padding:0px 16px;
		font-size:14px;
	}
	ul.myf_switch_menu #myf-transaction-dropdown .myf-header-input {
		height:44px;
		line-height:44px;
		margin-top:7px;
		margin-bottom:7px;
	}
	.myf_switch_menu .myf-header-input::after {
		padding: 1px 17px 10px;
		background-color: #36464c;
		pointer-events: none;
		height: 44px;
	}
	img.webclient_table-logo,
	img.webclient_table-userlogo {
		margin:0;
	}
	.webclient_table .table > tbody > tr > th,
	.webclient_table .table > tbody > tr > td {
		padding:4px 8px;
	}
	.webclient_table table  > tbody > tr > td.webclient-table-border, 
	.webclient_table table  > tbody > tr > th.webclient-table-border,
	.table > thead > tr > th.webclient-table-border {
		width: 10px;
		padding:0;
	}
	
	.border-green {
		background-color: #ced619;
	}
	.border-grey {
		background-color: #36464c;
	}
	.border-orange {
		background-color: #ee781d;
	}
	
	.myf_bestmember_ranking {
		background-color: #ee781d;
		padding: 0.5em;
		border-radius: 100%;
		color: #fff;
		font-weight: 700;
		font-size: 1.3em;
		line-height: 1.2em;
		box-sizing: content-box;
		width: 1.2em;
		height: 1.2em;
		text-align: center;
		vertical-align: middle;
		margin-left: auto;
		margin-right: auto;
	}
	
	.webclient_table {
		overflow-x:auto;
	}
	.webclient_table table {
		width:100%;
	}
	.webclient_table .table > thead > tr > th {
		border-bottom: 0 none;
		text-transform: uppercase;
		color: #999;
		padding-bottom: 1em;
		border-bottom: 1px solid #efefef;
	}
	.webclient_table .table > tbody > tr > td {
		background-color:#fff;
		vertical-align:middle;
	}
	.webclient_table .table > tbody > tr:first-child > td {
		padding-top: 1em;
	}
	.webclient_table .table img.webclient_table-logo {
		border:1px solid #efefef;
		width:60px;
	}
	
	i.myf-sprite {
		background-size: 650px 650px;
		background-position: 0px -25px;
		background-image: url('https://www.myfavorito.com/portals/mcdapp/logo_images/2018/myf-sprite-core2x.png');
		display: block;
		width: 40px;
		height: 40px;
	}
	
	.myf-pager {
		display:none;
		position: absolute;
		right: 0px;
		top: 0px;
		height: 38px;
		width: 85px;
		width: 100%;
		margin-top: 1em 0;
		font-size:14px;
	}
	.myf-pager {
		height: 38px;
		width: 100%;
		margin-top: 1em;
		margin-bottom: 1em;
		position: unset;
		padding: 0 15px;
		padding: 0;
	}
	
	.myf-pager.bottom {
		width: 100%;
		position: relative;
		margin-bottom: 2em;
		margin-top: 1em;
		text-align: center;
		line-height: 38px;
	}
	
	.myf-pager .previous, .myf-pager .first {
		float: left;
	}
	
	.myf-pager.bottom .first, .myf-pager.bottom .last, .myf-pager.bottom .next, .myf-pager.bottom .previous, .myf-pager.bottom .myf-icon {
		position: unset;
	}
	
	.myf-pager .first i.myf-sprite {
		background-position-x: -230px;
	}
	
	.myf-pager .first.inactive i.myf-sprite {
		background-position-x: -184px;
	}
	
	.myf-pager .previous, .myf-pager .first {
		float: left;
	}
	
	.myf-pager.bottom .first, .myf-pager.bottom .last, .myf-pager.bottom .next, .myf-pager.bottom .previous, .myf-pager.bottom .myf-icon {
		position: unset;
	}
	
	.myf-pager .previous i.myf-sprite {
		background-position-x: -46px;
	}
	
	.myf-pager .previous.inactive i.myf-sprite {
		background-position-x: 0px;
	}
	
	.myf-pager .myf-page-numerator {
		line-height: 40px;
	}
	
	.myf-pager .myf-page-numerator {
		margin: 2em 0 0 0;
	}
	
	.myf-pager .myf-page-numerator .pageno {
		display: inline-block;
		padding: 3px 1em;
		background-color: #36464c;
		line-height: 27px;
		color: #fff;
		font-family: 15px;
		margin: 2px 3px;
		position: relative;
		overflow: hidden;
		text-decoration:none;
	}
	.myf-pager .myf-page-numerator strong.pageno, 
	.myf-pager .myf-page-numerator a.pageno:hover {
		background-color: #ced619;
		text-decoration: none;
	}
	
	.myf-pager .myf-page-numerator strong.pageno.active, 
	.myf-pager .myf-page-numerator a.pageno:hover {
		background-color: #ced619;
	}
	
	.myf-pager .myf-page-numerator .pageno span {
		position: relative;
		z-index: 2;
	}
	.myf-pager .myf-page-numerator .pageno .wrapper {
		width: 100%;
		height: 100%;
		background-color: #ced619;
		opacity: 0.1;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}
	
	.myf-pager .next, .myf-pager .last {
		float: right;
	}
	.myf-pager .last i.myf-sprite {
		background-position-x: -276px;
	}
	.myf-pager .next i.myf-sprite {
		background-position-x: -92px;
	}
	
	.myf-pager .myf-pager-count {
		margin-right: 2em;
	}
	
	.myf-pager .myf-page-numerator.visible-xs-block {
		margin: 2em auto 0 auto;
		display: block;
		text-align: center;
		width: 100%;
	}
	.myf_transactions,
	.myf_bestmembers {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	.webclient_white_card {
		background-color: #fff;
		border-radius: 4px;
		padding: 2em;
		border: 1px solid #efefef;
		font-size:14px;
		box-shadow: 1px 2px 8px #efefef;
	}
	
	.webclient_white_card h4 {
		font-weight: 800;
		font-size: 1.8em;
	}
	
	.myf-calculations-board {
		margin-bottom:2em;
	}
	
	.myf-header-input::after {
		position: absolute;
		padding: 13px 17px;
		background-color: #36464c;
		pointer-events: none;
		top: 0;
		color: #fff;
		right: 0;
		padding: 14px 16px;
		border-radius: 0 6px 6px 0;
		content: "\e114";
		font-family: "Glyphicons Halflings";
		font-size: 0.9em;
		font-weight: 400;
		font-style: normal;
	}
	
	.myf-header-input select.form-control {
		margin-bottom: 0;
	}
	.myf-header-input {
		position:relative;
	}
	.myf-header-input input[type="text"], 
	.myf-header-input select,  
	.myf-header-input__submit, 
	.myf-header-input__button  {
		height: 45px;
	}
	
	.myf-header-input input[type="text"], 
	.myf-header-input select {
		border: 1px solid #cccccc;
		width: 100%;
		position:relative;
	}
	
	.myf-header-input input[type="text"], 
	.myf-header-input select, 
	#marketplace-header #action-code-bar .myf-marketplace-regions #select-area-selection, 
	#community-promotion-category-selection {
		border-radius: 6px;
		height: 46px;
		padding-right: 2.5em;
		font-size: 14px;
		background-color: #fff;
		text-align: left;
		padding-left: 1em;
		text-transform: uppercase;
	}
	
	.myf_bestmember_ranking {
		background-color: #ee781d;
		padding: 0.5em;
		border-radius: 100%;
		color: #fff;
		font-weight: 700;
		font-size: 18.2px;
		line-height: 1.2em;
		box-sizing: content-box !important;
		width: 22px;
		height: 22px;
		text-align: center;
		vertical-align: middle;
		margin-left: auto;
		margin-right: auto;
	}
	
	.img-circle {
		border-radius: 50%;
	}
	
	.webclient_table .table img.webclient_table-logo {
		border: 1px solid #efefef;
		width: 60px;
	}
	
	.myf_caution {
		margin: 0 0 40px 0;
		background-color: #f2dede;
		color: #a94442;
		box-shadow: #e6e5e5 1px 3px 5px 2px;
		padding: 1.5em 2em 1.5em 1.5em;
	}
	.alert {
		padding: 15px;
		margin-bottom: 20px;
		border: 1px solid transparent;
		border-radius: 4px;
	}
	#main-body.success.message .alert.alert-success {
		border-radius: 0;
		font-family: 'Roboto Slab','Roboto','Ubuntu', Arial, sans-serif;
		font-size: 1.07em;
		color: #36464c;
		padding: 24px;
		background-color: #fff;
		border: 0 none;
	}
	#main-body.success.message .alert.alert-success h4 {
		margin: -24px -24px 24px -24px;
		background-color: #72c838;
		color: #fff;
		font-size: 2.79em;
		padding: 24px 24px 24px 90px;
	}
	.user i.myf-icon-lg {
		background-position-x: 2%;
	}
	.user i.myf-icon-lg, .loyalty i.myf-icon-lg, .promotion i.myf-icon-lg, .competition i.myf-icon-lg, .stores i.myf-icon-lg, .video i.myf-icon-lg, .coupon i.myf-icon-lg, .prizedraw i.myf-icon-lg, .reward i.myf-icon-lg, .news i.myf-icon-lg, .prize i.myf-icon-lg {
		background-size: 1662%;
		height: 28px;
		width: 28px;
		background-position: -2% -87.6%;
	}
	i.myf-icon-lg, #main-body .myf-store-hd-buttons i.myf-icon-lg {
		width: 65px;
		height: 65px;
		background-image: url('https://www.myfavorito.com/portals/mcdapp/logo_images/2018/myf-icons-lg.png');
		background-position: -3px -3px;
		position: relative;
		float: left;
		background-size: 468px 445px;
	}
	#main-body.success.message .alert.alert-success h4 i.myf-icon-lg {
		margin-left: -67px;
		width: 48px;
		height: 49px;
		background-position-x: 78.5%;
		background-position-y: 2.9%;
		background-size: 960%;
	}
	#main-body.success.message .success_img {
		width: 60px;
		height: 60px;
		float: left;
	}
	#main-body.success.message .success_text_wrapped {
		margin-left: 80px;
	}
	a.myf_button_add {
		background-color: #ced619;
		padding: 0.4em 2em;
		color: #fff;
		border-radius: 4px;
		font-size: 1.3em;
	}
	
	
	ul#myf_store_switch.myf_switch_menu li.my_sponsor {
		margin-left:0.5em;
	}
	ul#myf_store_switch.myf_switch_menu li.my_sponsor a:link,
	ul#myf_store_switch.myf_switch_menu li.my_sponsor a:active,
	ul#myf_store_switch.myf_switch_menu li.my_sponsor a:visited {
		background-color:#ee781d;
		color:#fff;
		border-radius:5px;
	}
	
	ul#myf_store_switch.myf_switch_menu li.my_sponsor a:hover {
		background-color:#ced619;
		color:#fff;
	}
	
	ul#myf_store_switch.myf_switch_menu li.my_sponsor:hover a:link, 
	ul#myf_store_switch.myf_switch_menu li.my_sponsor:hover a:active, 
	ul#myf_store_switch.myf_switch_menu li.my_sponsor:hover a:visited {
		
	}
	@media (min-width: 538px) {
		
		.myf-page-numerator.hidden-xs {
			display: block !important;
		}
		
		.myf-pager .myf-page-numerator, .myf-pager .myf-pager-count {
			margin: 0 2em;
		}
		
		.myf-pager .myf-page-numerator {
			margin: 0 2em;
			display: inline-block;
			text-align: left;
			width: auto;
			float: left;
		}
		.myf-pager .myf-page-numerator .pageno {
			float: left;
		}
		
		.myf-pager .cleaner.clear.visible-xs-block, .myf-page-numerator.visible-xs-block {
			display: none !important;
		}

	}
	@media (min-width: 768px) {
		ul#myf_store_switch.myf_switch_menu {
			max-height:58px;
			margin-top: 0;
			margin-bottom: 31px;
		}
		
		ul#myf_store_switch.myf_switch_menu li:hover {
			border-bottom: 4px solid transparent;	
		}
		
		#myf-transaction-dropdown .col-sm-7 {
			float:right;
			width: calc(100% - 320px);
		}
	}
	
	@media (min-width:992px) {
		ul.myf_switch_menu li.nav_menu:last-of-type {
			clear:none;
		}
		ul#myf_store_switch #myf-nav-actioncode {
			width:auto;
			margin-top:0;
			margin-left:0;
		}
		
		ul#myf_store_switch #myf-nav-actioncode .bar-content-left {
			padding:0;
		}
		ul.myf_switch_menu #action-code-marketplace #actioncode {
			width: 18em;
		}
		
		#myf-transaction-dropdown {
			margin-top: 0px;
			margin-bottom: 0px;
			top: auto;
		}

		#myf-transaction-dropdown .col-sm-7 {
			width: 58.33333333%;
			float:left;
		}
		
		ul#myf_store_switch.myf_switch_menu {		
			border-bottom: 1px solid #cbcbcb;
			border-bottom: 0 none;
		}
		ul#myf_store_switch.myf_switch_menu li {
			border-bottom-color:#cbcbcb;
		}
		
		ul#myf_store_switch.myf_switch_menu #myf-user {
			float:right;	
		}
	}
